build*/
.idea/
cmake-build-debug/
.vscode/
sdkconfig
sdkconfig.old
.python-version
experiments/
old_snippets/
scratch_data/
large_scale_test_results/
*.pyc
large_scale_results/
large_scale_results2/
results/
evaluation/smart_office/smart_office_data/
*.DS_Store
*.sublime-workspace
*.sublime-project
