[submodule "vendor/lua/lua"]
	path = vendor/lua/lua
	url = https://github.com/lua/lua.git
[submodule "unit_test/googletest"]
	path = unit_test/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/msgpack/msgpack-c"]
	path = vendor/msgpack/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "esp32_components/callEPD"]
	path = uActor-ESP32/components/callEPD
	url = https://github.com/martinberlin/CalEPD.git
[submodule "esp32_components/Adafruit-GFX"]
	path = uActor-ESP32/components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF.git
[submodule "vendor/base64/cpp-base64"]
	path = vendor/base64/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "uActor-ESP32/components/sensiron-scd"]
	path = uActor-ESP32/components/sensiron-scd
	url = ../../cm/sensirion-embedded-scd.git
[submodule "vendor/influxdb-cxx"]
	path = vendor/influxdb-cxx
	url = https://github.com/offa/influxdb-cxx.git
[submodule "uActor-ESP32/components/bme280_actor/BME280_driver"]
	path = uActor-ESP32/components/bme280_actor/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
[submodule "vendor/lua/lua-rotable"]
	path = vendor/lua/lua-rotable
	url = https://github.com/siffiejoe/lua-rotable.git
[submodule "uActor-ESP32/components/FT6X36-IDF"]
	path = uActor-ESP32/components/FT6X36-IDF
	url = https://github.com/martinberlin/FT6X36-IDF.git
