menu "Wifi Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "HETZEL-IOT"
        help
            SSID

    config WIFI_PASSWORD
        string "WiFi Password"
        default "1234"
        help
            WiFi password
endmenu
menu "Board Configuration"
    config NODE_ID
        string "Unique Node ID"
        default "node_1"
        help
            Unique Node ID
endmenu
menu "Benchmark Configuration"
    config BENCHMARK_ENABLED
        bool "Legacy Benchmark"
        default n
        help
            Legacy Benchmark Mode
endmenu
            