menu "Wifi Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "eduroam"
        help
            SSID
    config WIFI_USE_EDUROAM
        bool "Use eduroam"
        default y
        help
            Use eduroam instead pf WPA personal.
            Uses username + password,
            validatates server using the key in binary folder.
            SSID needs to be set to eduroam.

    config WIFI_USERNAME
        string "Eduroam username"
        default "foobar"
        help
            WiFi WPA enterprise username used in eduroam mode.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "1234"
        help
            WiFi password
endmenu
menu "Board Configuration"
    config NODE_ID
        string "Unique Node ID"
        default "node_1"
        help
            Unique Node ID

    config NODE_LABELS
        string "Node Labels"
        default ""
        help
            key=value,key2=value2

    config SERVER_NODE
        string "Topology Server Node"
        default ""
        help
            Topology control
endmenu
menu "Benchmark Configuration"
    config BENCHMARK_ENABLED
        bool "Enable Benchmark"
        default n
        help
            Load additional tooling required for benchmarking.
    config BENCHMARK_BREAKDOWN
        bool "Enable breakdown"
        default n
        help
            Enable benchmark breakdown
endmenu
menu "Testbed Configuration"
    config TESTBED_NETWORK_UTILS
        bool "Testbed Network Utils"
        default y
        help
          Enable loggers for values related to networking.
    config TESTBED_NESTED_TIMEKEEPING
      bool "Testbed Nested Timekeeping"
      default n
      help
        Enable nested timekeeping. This enabled the stop_timekeeping_inner method and required the normal stop_timekeeping method to flush the queued inner values.
endmenu
            