# msgpack-c requires exceptions
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=0
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_FREERTOS_HZ=1000

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_LWIP_USE_ONLY_LWIP_SELECT=y
CONFIG_LWIP_MAX_ACTIVE_TCP=16
CONFIG_LWIP_MAX_LISTENING_TCP=16

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y


CONFIG_EINK_SPI_MOSI=23
CONFIG_EINK_SPI_CLK=18
CONFIG_EINK_SPI_CS=5
CONFIG_EINK_DC=17
CONFIG_EINK_RST=16
CONFIG_EINK_BUSY=4
CONFIG_EINK_SPI_CS2=0
CONFIG_EINK_SPI_MISO=0
CONFIG_EINK_SPI_M1_CS=0
CONFIG_EINK_SPI_S1_CS=0
CONFIG_EINK_SPI_M2_CS=0
CONFIG_EINK_SPI_S2_CS=0
CONFIG_EINK_SPI_M1_BUSY=0
CONFIG_EINK_SPI_S1_BUSY=0
CONFIG_EINK_SPI_M2_BUSY=0
CONFIG_EINK_SPI_S2_BUSY=0
CONFIG_EINK_M1S1_DC=0
CONFIG_EINK_M2S2_DC=0
CONFIG_EINK_M1S1_RST=0
CONFIG_EINK_M2S2_RST=0

CONFIG_BT_ENABLED=y

# Save Space: https://esp32.com/viewtopic.php?f=13&t=3139
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BT_NIMBLE_ENABLED=y

# Save Space: https://esp32.com/viewtopic.php?f=13&t=3139
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=3
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=6
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=6

# We need to find a better way to reduce the IRAM usage, this is temporary:
CONFIG_ESP32_WIFI_IRAM_OPT=n

CONFIG_ENABLE_I2C=y
CONFIG_I2C_SDA_PIN=33
CONFIG_I2C_SCL_PIN=32
CONFIG_ENABLE_SCD30=y
CONFIG_ENABLE_EPAPER_DISPLAY=y

# WIFI needs to be configured manually