menu "Wifi Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "eduroam"
        help
            SSID
    config WIFI_USE_EDUROAM
        bool "Use eduroam"
        default n
        help
            Use eduroam instead pf WPA personal.
            Uses username + password,
            validatates server using the key in binary folder.
            SSID needs to be set to eduroam.

    config WIFI_USERNAME
        string "Eduroam username"
        default "foobar"
        help
            WiFi WPA enterprise username used in eduroam mode.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "1234"
        help
            WiFi password
endmenu
menu "Board Configuration"
    config USE_MAC_AS_NODE_ID
        bool "Use the MAC address as the node_id"
        default y
    config NODE_ID
        string "Unique Node ID"
        default "node_1"
        depends on !USE_MAC_AS_NODE_ID
    config NODE_LABELS
        string "Node Labels"
        default ""
        help
            key=value,key2=value2

    config SERVER_NODE
        string "Topology Server Node"
        default ""
        help
            Topology control
    config PERSISTENT_PEERS
        string "PERSISTENT PEER"
        default ""
        help
            node_id:node_ip:node_port,node_id..

    config ENABLE_I2C
        bool "Enable I2C Bus"
        default n
    config I2C_SDA_PIN
        int "I2C SDA PIN"
        default 33
        depends on ENABLE_I2C
    config I2C_SCL_PIN
        int "I2C SCL PIN"
        default 32
        depends on ENABLE_I2C
    config ENABLE_SCD30
       bool "Board has SCD30 Sensor"
       default n
       depends on ENABLE_I2C
    config ENABLE_BMP180
       bool "Board has BMP180 Sensor"
       default n
       depends on ENABLE_I2C
    config ENABLE_BME280
       bool "Board has BME280 Sensor"
       default n
       depends on ENABLE_I2C 
    config ENABLE_EPAPER_DISPLAY
       bool "Board has EPaper Display"
       default n
    config ENABLE_BLE_ACTOR
       bool "Enable BLE Actor"
       default y
    config DISABLE_WIFI_PS
       bool "Disable WiFi PS"
       default n
       depends on !ENABLE_BLE_ACTOR
       help
        Power Saving can only be disabled when bluetooth is disabled.
endmenu
menu "Benchmark Configuration"
    config BENCHMARK_ENABLED
        bool "Enable Benchmark"
        default n
        help
            Load additional tooling required for benchmarking.
    config BENCHMARK_BREAKDOWN
        bool "Enable breakdown"
        default n
        help
            Enable benchmark breakdown
endmenu
menu "uActor"
    menu "Optimizations"
        config UACTOR_OPTIMIZATIONS_BLE_FILTER
            bool "Enable Actor-Side BLE packet filtering"
            default y
            help
                Attempts to reduce the publication pressure
        config UACTOR_OPTIMIZATIONS_DIRECT_CODE_STORE
            bool "Direct code store"
            default y
            help
                Let the deployment manager directly interact with the CodeStore.
    endmenu
    config UACTOR_ENABLE_TELEMETRY
       bool "Collect and send telemetry updates"
       default y
    config UACTOR_ENABLE_HEAP_TRACKING
       bool "Component-wise heap-memory tracking"
       default y
    config UACTOR_HIBERNATION
        bool "Enable hibernation"
        default n
endmenu
menu "Testbed Configuration"
    config TESTBED_NETWORK_UTILS
        bool "Testbed Network Utils"
        default y
        help
          Enable loggers for values related to networking.
    config TESTBED_NESTED_TIMEKEEPING
      bool "Testbed Nested Timekeeping"
      default n
      help
        Enable nested timekeeping. This enabled the stop_timekeeping_inner method and required the normal stop_timekeeping method to flush the queued inner values.
endmenu
            